<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.css"
    />
    <link rel="stylesheet" href="assets/scss/global.css" />
    <link rel="icon" type="image/png" href="./assets/img/logo-responsive.png" />

    <title>Juliette Connan - Portfolio</title>
  </head>

  <body>
    <div id="app">
      <menu-desktop :linkactive="menuLinkActive"></menu-desktop>
      <div class="menu-responsive_container">
        <menu-responsive-sidebar
          v-if="menuResponsiveDisplayed"
          @click="closeMenu"
        ></menu-responsive-sidebar>
        <menu-responsive @click="openMenu"></menu-responsive>
      </div>
      <project-popup
        @previous="navigationBetweenProjects('previous')"
        @next="navigationBetweenProjects('next')"
        @close="closeProject"
        v-if="projectPopup"
        :project="projectDisplayed"
      ></project-popup>
      <main>
        <div>
          <section id="home" ref="section_home" class="container">
            <div class="home_container col-12 col-md-8">
              <div class="home_presentation">
                <p>Hi!</p>
                <p>
                  <img
                    class="home_presentation-detail"
                    src="./assets/img/icons/detail-title-red.svg"
                  />
                  I’m Juliette,<br />a front-end developer based in Paris<span
                    class="home_presentation-dot"
                    >.</span
                  >
                </p>
              </div>
              <div class="home_resume">
                <p>download my <a href="./assets/docs/resume.pdf" target="_blank">resume</a></p>
              </div>
            </div>
            <div class="home_discover">
              <p class="highlight">Discover my work</p>
              <img src="./assets/img/icons/arrow.svg" />
            </div>
          </section>
          <section id="works" ref="section_works" class="container">
            <img src="./assets/img/icons/detail-title-yellow.svg" />
            <h1>Works</h1>
            <div class="container" v-if="projects">
              <div class="works-container row" :key="">
                <works-card
                  @click="showProject"
                  v-for="project in projects"
                  :title="project.name"
                  :image="project.thumbnail"
                  :category="project.category"
                  :slug="project.slug"
                  url="/"
                ></works-card>
              </div>
            </div>
          </section>
          <section id="about" ref="section_about" class="container">
            <img src="./assets/img/icons/detail-title-blue.svg" />
            <h1>About</h1>
            <h3>
              <img src="./assets/img/icons/detail-wave-blue.svg" /> experience
            </h3>
            <div class="experiences-container">
              <div class="experiences_item">
                <p class="highlight">
                  Front end<br />
                  developer
                </p>
                <p>Vmed agency - Paris</p>
                <p>2018 - now</p>
              </div>
              <div class="experiences_item">
                <p class="highlight">
                  Developer web<br />
                  master degree
                </p>
                <p>ECV Digital - Paris</p>
                <p>2019 - now</p>
              </div>
              <div class="experiences_item">
                <p class="highlight">UX Degree</p>
                <p>Sup de Création - Paris</p>
                <p>2018 - 2019</p>
              </div>
              <div class="experiences_item">
                <p class="highlight">
                  Web Development<br />
                  intense formation
                </p>
                <p>INSEEC Digital - Paris</p>
                <p>2018 (6 weeks)</p>
              </div>
              <div class="experiences_item">
                <p class="highlight">Au Pair</p>
                <p>London</p>
                <p>2017 - 2018</p>
              </div>
              <div class="experiences_item">
                <p class="highlight">
                  Communication<br />
                  Degree
                </p>
                <p>University Of Rennes</p>
                <p>2014 - 2017</p>
              </div>
            </div>
            <div class="certifications-container">
              <h3> <img src="./assets/img/icons/detail-wave-blue.svg" /> certifcations</h3>
              <p>
                <a href="./assets/docs/eco-conception.pdf">Web eco conception</a>
              </p>
              <p>
                <a href="./assets/docs/opquast.pdf">Opquast</a>
              </p>

            </div>
            <h3>
              <img src="./assets/img/icons/detail-wave-blue.svg" /> skills / tools / certifications
            </h3>
            <div class="skills-container">
              <div class="skills_item">
                <p><img src="./assets/img/logos/html5.png" alt="" /></p>
                <p class="highlight">html 5</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/css3.png" alt="" /></p>
                <p class="highlight">css 3</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/sass.png" alt="" /></p>
                <p class="highlight">sass</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/javascript.png" alt="" /></p>
                <p class="highlight">js es6</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/vuejs.png" alt="" /></p>
                <p class="highlight">vuejs</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/github.png" alt="" /></p>
                <p class="highlight">github</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/nodejs.png" alt="" /></p>
                <p class="highlight">nodejs</p>
              </div>
              <div class="skills_item">
                <p><img src="./assets/img/logos/adobexd.png" alt="" /></p>
                <p class="highlight">adobe xd</p>
              </div>
              <div class="skills_item">
                <p class="highlight">ux sensitive</p>
              </div>
            </div>
          </section>
          <section id="contact" ref="section_contact" class="container">
            <img src="./assets/img/icons/detail-title-green.svg" />
            <h1>Contact</h1>
            <div class="container">
              <div class="contact_content row">
                <div class="contact_email col-12 col-md-6">
                    <p class="highlight">Need my email ?</p>
                    <a href="mailto:juliettecnn@gmail.com">juliettecnn[a]gmail.com</a>
                </div>
                <div class="contact_networks col-12 col-md-6">
                    <p class="highlight">Or see me there</p>
                      <div>
                        <a href="https://www.linkedin.com/in/juliette-connan/" target="_blank">linkedIn</a>
                        <a href="https://github.com/jucnn" target="_blank">github</a>
                      </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <back-to-top></back-to-top>
        <the-footer></the-footer>
      </main>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
      integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
      crossorigin="anonymous"
    ></script>
    <script src="components/TheFooter.vue.js"></script>
    <script src="components/BackToTop.vue.js"></script>
    <script src="components/menu/MenuDesktop.vue.js"></script>
    <script src="components/menu/MenuResponsive.vue.js"></script>
    <script src="components/menu/MenuResponsiveSidebar.vue.js"></script>
    <script src="components/works/WorksCard.vue.js"></script>
    <script src="components/ProjectPopup.vue.js"></script>
    <script src="pages/home.vue.js"></script>
    <script src="pages/project.vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
