@import "variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontFamily;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $black;
  color: $white;
}

h1 {
  @include first-heading;
}

h2 {
  @include second-heading;
}

h3 {
  @include third-heading;
}

.highlight {
  @include highlight;
}

p {
  font-size: 18px;
}

input,
textarea {
  font-size: 16px;
}

a {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

body {
  a {
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0px;
      opacity: 0.3;
    }

    &:hover {
      &:after {
        opacity: 1;
        transition: 300ms;
      }
    }
  }
}

section {
  padding: 100px 0px 0 0;
}

/* Menu */

#menu {
  background-color: $black;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  color: $white;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  z-index: 1000;
  /*   box-shadow: 0px 0px 30px rgba(0,0,0, 0.1); */

  nav ul {
    display: flex;

    li {
      list-style: none;
      font-weight: 900;
      font-size: 26px;
      margin-left: 50px;

      a {
        color: $white;
      }
    }
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}

#menu-responsive {
  position: fixed;
  top: 0;
  background-color: $black;
  padding: 20px 50px;
  width: 100%;
  z-index: 100;

  .menu-responsive {
    &_btn {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 7px;
      cursor: pointer;
      span {
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: $white;
        display: block;

        &:nth-child(9) {
          background-color: $coral;
        }
      }
    }
  }
  &_sidebar {
    position: fixed;
    background-color: $white;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    z-index: 20000;
    color: $black;
    transform: translateX(100%);
    opacity: 0;

    .menu-responsive {
      &_close {
        position: absolute;
        top: 30px;
        right: 30px;

        svg {
          line {
            stroke: $black;
          }
        }
      }

      &_links {
        margin: 100px 30px 0 0;
        a {
          font-size: 38px;
          font-weight: bold;
          font-family: "Raleway", arial;
          text-align: right;
          color: $black;
          display: block;
          margin-bottom: 30px;

          span {
            font-family: "Montserrat", sans-serif;
            font-size: 48px;
          }

          &:nth-child(1) span {
            color: $coral;
          }
          &:nth-child(2) span {
            color: $yellow;
          }
          &:nth-child(3) span {
            color: $blue;
          }
          &:nth-child(4) span {
            color: $green;
          }
        }
      }
    }
  }
}

.menu-responsive {
  &_container {
    display: none;

    @media screen and (max-width: $md) {
      display: block;
    }
  }
}

/* Home */

#home {
  /*  ::selection, ::-moz-selection {
        background: $coral;
    } */
  .home {
    &_presentation {
      p {
        font-size: 48px;
        font-weight: 900;
        margin-top: 0;
        font-family: "Raleway", sans-serif;
      }

      p:nth-child(2) {
        position: relative;
      }

      &-detail {
        position: absolute;
        top: -20px;
        left: 0;

        object svg g path {
          stroke: red;
        }
      }

      &-dot {
        color: $coral;
        margin-left: 5px;
        font-family: "Montserrat", sans-serif;
      }
    }

    &_resume {
      a {
        color: $white;

        &:after {
          background-color: $coral;
        }
      }
    }

    &_discover {
      margin-top: 60px;
      text-align: center;

      #highlight {
        font-size: 22px;
        margin-bottom: 10px;
      }

      img {
        animation: downarrow 0.6s infinite alternate ease-in-out;
      }
    }

    @keyframes downarrow {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0.4em);
      }
    }
  }
}

/* Works */

.works {
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 0;
    padding-top: 80px;

    &_container {
      margin-bottom: 40px;
    }

    &_description {
      padding: 40px;
      background-color: #323231;
      border-radius: 16px;
    }

    &_img {
      margin: 0 auto;
      display: block;
      max-width: 80%;
    }

    &_category {
      img {
        margin-right: 10px;
      }
    }

    p {
      margin-top: 0;
    }

    a {
      color: $white;
      cursor: pointer;

      &::after {
        content: "";
        background-color: $yellow;
      }
    }
  }
}

/* Project */

.project {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: $black;
  padding: 40px;
  height: 100vh;
  width: 100vw;

  p {
    margin-bottom: 0;
    font-size: 16px;
  }

  @media screen and (max-width: $md) {
    padding: 30px;
  }

  h1 {
    font-size: 42px;
    padding: 0;
    margin-top: 0;
  }

  &-infos {
    max-height: 100%;
  }

  &-container {
    border: 5px solid $grey;
    padding: 40px;
    height: 100%;
    position: relative;

    @media screen and (max-width: $md) {
      padding: 30px;
    }

    @media screen and (max-width: $lg) {
      overflow-y: scroll;
      padding: 40px;
    }
  }

  &-description {
    line-height: 1.6em;
    font-size: 18px;
  }

  &-close {
    position: absolute;
    top: -1px;
    right: 0;
    padding: 7px;
    background-color: $grey;
    cursor: pointer;
  }

  &-details {
    & > div {
      margin-top: 20px;
    }

    a {
      color: $white;

      &::after {
        content: "";
        background-color: $yellow;
      }
    }
  }

  &-imgs {
    height: 90%;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: $lg) {
      position: inherit;
      margin-top: 60px;
    }

    img {
      max-width: 100%;
      margin-bottom: 60px;
    }
  }

  &-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;

    @media screen and (max-width: $lg) {
      position: inherit;
      justify-content: center;
    }

    &_link {
      padding: 20px 50px;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5em;
      background-color: $yellow;
      color: $black;
      cursor: pointer;

      @media screen and (max-width: $md) {
        padding: 15px 35px;
      }

      &:nth-child(1) {
        opacity: 0.4;
      }

      &:nth-child(2) {
        opacity: 0.5;
      }
    }
  }

  &-transition {
    &_layer {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    &--yellow {
      background-color: $yellow;
    }
    &--black {
      background-color: $black;
    }
  }
}

/* About */

#about {
  h3 {
    margin-top: 60px;

    img {
      margin-right: 10px;
    }
  }
  .experiences {
    &-container {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &_item {
      width: 30%;
      min-width: 300px;
      margin-bottom: 40px;

      .highlight {
        margin-bottom: 20px;
      }

      p {
        margin: 0;
      }
    }
  }

  .skills {
    &-container {
      margin-top: 50px;
      display: grid;

      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 200px;
      gap: 30px;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
      border-radius: 16px;

      p {
        margin: 0;
      }

      img {
        max-height: 90px;
      }
    }
  }
}

/* Contact */

#contact {
  .contact {
    &_subtitle {
      @include subtitle;
      span {
        font-family: "Montserrat", sans-serif;
        color: $green;
        margin-left: 5px;
      }
    }

    &_content {
      display: flex;
      justify-content: space-around;
      margin-top: 60px;

      a {
        color: $white;

        &::after {
          content: "";
          background-color: $green;
        }
      }
    }

    &_networks {
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

/* Back to top */

#back-to-top {
  position: fixed;
  border: 2px solid $coral;
  border-radius: 60px;
  padding: 7px 11px;
  bottom: 40px;
  right: 100px;
  transform: rotate(180deg);

  @media screen and (max-width: $md) {
    right: 50px;
  }
}

/* Footer */

#footer {
  background-color: $black;
  text-align: center;
  p {
    font-size: 12px;
    margin: 0;
    padding: 40px 0;
    color: #707070;
  }
  span {
    color: $coral;
  }
}

/* Media queries */

@media screen and (max-width: $lg) {
  p {
    font-size: 16px;
  }
}
