@import "variables.scss";


html {
    scroll-behavior: smooth;
}

body {
    font-family: $fontFamily;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.section-black {
    background-color: $black;
    color: $white;
}

.section-white {
    background-color: $white;
    color: $black;
}

h1 {
    @include first-heading;
    margin-top: 0;
}

h2 {
    @include second-heading;
}

h3 {
    @include third-heading;
}

#highlight {
    @include highlight;
}

p {
    font-size: 20px;
}

input, textarea {
font-size: 16px;
}

a {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

section {
    padding: 40px 100px;
}

/* Menu */

#menu {
    background-color: $black;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    color: $white;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    nav ul {
        display: flex;

        li {
            list-style: none;
            font-weight: 900;
            font-size: 26px;
            margin-left: 50px;

            a {
                color:$white;
            }
        }
    }
}

/* Back to top */

#back-to-top {
    position: fixed;
    border: 2px solid $coral;
    border-radius: 60px;
    padding: 7px 11px;
    bottom: 40px;
    right: 100px;
    transform: rotate(180deg);
}

/* Home */

#home {
    .home {
        &_container {
            max-width: 50%;
            margin-left: 250px;
        }

        &_presentation {
            p {
                font-size: 48px;
                font-weight: 900;
                font-family: "Raleway", sans-serif;
            }

            &-dot {
                color: $coral;
                margin-left: 5px;
                font-family: "Montserrat", sans-serif;
            }
        }

        &_resume {
            a {
                color: $white;
            }
        }

        &_discover {
            margin-top: 60px;
            text-align: center;

            #highlight {
                font-size: 22px;
            }

            img {
                animation: downarrow 0.6s infinite alternate ease-in-out;
            }
        }

        @keyframes downarrow {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(0.4em);
            }
        }
    }
}

/* Contact */

#contact {
    .contact {
        &_subtitle {
            @include subtitle;
            span {
                font-family: "Montserrat", sans-serif;
                color: $green;
                margin-left: 5px;
            }
        }
    }

    .contact_form {
        label {
            @include highlight;
        }
        .form-infos {
            display: flex;
            justify-content: space-between;
            margin: 100px 0;

            .form-item {
                width: 45%;
            }
        }

        .form-message {
            margin-bottom: 60px;
        }

        .form-btn {
            text-align: right;

            button {
                @include highlight;
                background-color: $green;
                color: white;
                border: 0;
                padding: 10px 25px;
                cursor: pointer;
            }
        }

        .form-item {
            display: flex;
            flex-direction: column;

            input, textarea {
                background: none;
                border-bottom: 1px solid $grey;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-top: 30px;
                padding: 5px;
                color:$white;
                font-family: 'Montserrat', sans-serif;
                
                &:focus {
                    outline: 2px solid $green;

                }
            }
        }
    }
}
