/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Raleway:wght@600;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-black {
  background-color: #2D2C2A;
  color: #F8F8F8;
}

.section-white {
  background-color: #F8F8F8;
  color: #2D2C2A;
}

h1 {
  font-weight: 900;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
}

h2 {
  font-weight: 900;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

#highlight {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.5px;
}

p {
  font-size: 20px;
}

input, textarea {
  font-size: 16px;
}

a {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

section {
  padding: 40px 100px;
}

/* Menu */
#menu {
  background-color: #2D2C2A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  color: #F8F8F8;
  padding: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

#menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu nav ul li {
  list-style: none;
  font-weight: 900;
  font-size: 26px;
  margin-left: 50px;
}

#menu nav ul li a {
  color: #F8F8F8;
}

/* Back to top */
#back-to-top {
  position: fixed;
  border: 2px solid #FF6B64;
  border-radius: 60px;
  padding: 7px 11px;
  bottom: 40px;
  right: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Home */
#home .home_container {
  max-width: 50%;
  margin-left: 250px;
}

#home .home_presentation p {
  font-size: 48px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

#home .home_presentation-dot {
  color: #FF6B64;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
}

#home .home_resume a {
  color: #F8F8F8;
}

#home .home_discover {
  margin-top: 60px;
  text-align: center;
}

#home .home_discover #highlight {
  font-size: 22px;
}

#home .home_discover img {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
          animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
}

/* Contact */
#contact .contact_subtitle {
  font-weight: 900;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
}

#contact .contact_subtitle span {
  font-family: "Montserrat", sans-serif;
  color: #4DD6A4;
  margin-left: 5px;
}

#contact .contact_form label {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.5px;
}

#contact .contact_form .form-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0;
}

#contact .contact_form .form-infos .form-item {
  width: 45%;
}

#contact .contact_form .form-message {
  margin-bottom: 60px;
}

#contact .contact_form .form-btn {
  text-align: right;
}

#contact .contact_form .form-btn button {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.5px;
  background-color: #4DD6A4;
  color: white;
  border: 0;
  padding: 10px 25px;
  cursor: pointer;
}

#contact .contact_form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact_form .form-item input, #contact .contact_form .form-item textarea {
  background: none;
  border-bottom: 1px solid #403F3C;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 30px;
  padding: 5px;
  color: #F8F8F8;
  font-family: 'Montserrat', sans-serif;
}

#contact .contact_form .form-item input:focus, #contact .contact_form .form-item textarea:focus {
  outline: 2px solid #4DD6A4;
}
/*# sourceMappingURL=global.css.map */