/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Raleway:wght@600;900&display=swap");
/* Media queries */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #2D2C2A;
  color: #F8F8F8;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}

h2 {
  font-weight: 900;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.highlight {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.5px;
}

p {
  font-size: 18px;
}

input,
textarea {
  font-size: 16px;
}

a {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

body a {
  position: relative;
  padding-bottom: 5px;
}

body a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  opacity: 0.3;
}

body a:hover:after {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

section {
  padding: 100px 0px 0 0;
}

/* Menu */
#menu {
  background-color: #2D2C2A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  color: #F8F8F8;
  padding: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  z-index: 1000;
  /*   box-shadow: 0px 0px 30px rgba(0,0,0, 0.1); */
}

#menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu nav ul li {
  list-style: none;
  font-weight: 900;
  font-size: 26px;
  margin-left: 50px;
}

#menu nav ul li #link-home.active {
  color: #FF6B64;
}

#menu nav ul li #link-works.active {
  color: #FFDE07;
}

#menu nav ul li #link-about.active {
  color: #4A40FD;
}

#menu nav ul li #link-contact.active {
  color: #4DD6A4;
}

#menu nav ul li a {
  color: #F8F8F8;
}

@media screen and (max-width: 992px) {
  #menu {
    display: none;
  }
}

#menu-responsive {
  position: fixed;
  top: 0;
  background-color: #2D2C2A;
  padding: 20px 50px;
  width: 100%;
  z-index: 100;
}

#menu-responsive .menu-responsive_btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px;
  cursor: pointer;
}

#menu-responsive .menu-responsive_btn span {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: #F8F8F8;
  display: block;
}

#menu-responsive .menu-responsive_btn span:nth-child(9) {
  background-color: #FF6B64;
}

#menu-responsive_sidebar {
  position: fixed;
  background-color: #F8F8F8;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  z-index: 20000;
  color: #2D2C2A;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

#menu-responsive_sidebar .menu-responsive_close {
  position: absolute;
  top: 30px;
  right: 30px;
}

#menu-responsive_sidebar .menu-responsive_close svg line {
  stroke: #2D2C2A;
}

#menu-responsive_sidebar .menu-responsive_links {
  margin: 100px 30px 0 0;
}

#menu-responsive_sidebar .menu-responsive_links a {
  font-size: 38px;
  font-weight: bold;
  font-family: "Raleway", arial;
  text-align: right;
  color: #2D2C2A;
  display: block;
  margin-bottom: 30px;
}

#menu-responsive_sidebar .menu-responsive_links a span {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
}

#menu-responsive_sidebar .menu-responsive_links a:nth-child(1) span {
  color: #FF6B64;
}

#menu-responsive_sidebar .menu-responsive_links a:nth-child(2) span {
  color: #FFDE07;
}

#menu-responsive_sidebar .menu-responsive_links a:nth-child(3) span {
  color: #4A40FD;
}

#menu-responsive_sidebar .menu-responsive_links a:nth-child(4) span {
  color: #4DD6A4;
}

.menu-responsive_container {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu-responsive_container {
    display: block;
  }
}

/* Home */
#home {
  /*  ::selection, ::-moz-selection {
        background: $coral;
    } */
}

#home .home_presentation p {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
}

#home .home_presentation p:nth-child(2) {
  position: relative;
}

#home .home_presentation-detail {
  position: absolute;
  top: -20px;
  left: 0;
}

#home .home_presentation-detail object svg g path {
  stroke: red;
}

#home .home_presentation-dot {
  color: #FF6B64;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
}

#home .home_resume a {
  color: #F8F8F8;
}

#home .home_resume a:after {
  background-color: #FF6B64;
}

#home .home_discover {
  margin-top: 60px;
  text-align: center;
}

#home .home_discover #highlight {
  font-size: 22px;
  margin-bottom: 10px;
}

#home .home_discover img {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
          animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
}

/* Works */
.works-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 0;
  padding-top: 80px;
}

.works-card_container {
  margin-bottom: 40px;
}

.works-card_description {
  padding: 40px;
  background-color: #323231;
  border-radius: 16px;
}

.works-card_img {
  margin: 0 auto;
  display: block;
  max-width: 80%;
}

.works-card_category img {
  margin-right: 10px;
}

.works-card p {
  margin-top: 0;
}

.works-card a {
  color: #F8F8F8;
  cursor: pointer;
}

.works-card a::after {
  content: "";
  background-color: #FFDE07;
}

/* Project */
.project {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #2D2C2A;
  padding: 40px;
  height: 100vh;
  width: 100vw;
}

.project .highlight {
  font-size: 14px;
}

.project p {
  margin-bottom: 0;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .project {
    padding: 30px;
  }
}

.project h1 {
  font-size: 42px;
  padding: 0;
  margin: 0;
}

.project-infos {
  max-height: 100%;
}

.project-infos_container {
  height: 125%;
}

@media screen and (max-width: 1200px) {
  .project-infos_container {
    height: auto;
  }
}

.project-container {
  border: 5px solid #403F3C;
  padding: 40px;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .project-container {
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .project-container {
    overflow-y: scroll;
    padding: 40px;
  }
}

.project-description {
  line-height: 1.6em;
  font-size: 18px;
}

.project-close {
  position: absolute;
  top: -1px;
  right: 0;
  padding: 7px;
  background-color: #403F3C;
  cursor: pointer;
}

.project-details > div {
  margin-top: 20px;
}

.project-details a {
  color: #F8F8F8;
}

.project-details a::after {
  content: "";
  background-color: #FFDE07;
}

.project-imgs {
  height: 90%;
  position: fixed;
  right: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.project-imgs::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .project-imgs {
    position: inherit;
    margin-top: 30px;
    overflow-y: auto;
  }
}

.project-imgs img {
  max-width: 100%;
  margin-bottom: 60px;
}

.project-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .project-navigation {
    position: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

.project-navigation_link {
  padding: 20px 50px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5em;
  background-color: #FFDE07;
  color: #2D2C2A;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .project-navigation_link {
    padding: 15px 35px;
  }
}

.project-navigation_link:nth-child(1) {
  opacity: 0.4;
}

.project-navigation_link:nth-child(2) {
  opacity: 0.5;
}

.project-transition_layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.project-transition--yellow {
  background-color: #FFDE07;
}

.project-transition--black {
  background-color: #2D2C2A;
}

/* About */
#about h3 {
  margin-top: 60px;
}

#about h3 img {
  margin-right: 10px;
}

#about .experiences-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .experiences_item {
  width: 30%;
  min-width: 300px;
  margin-bottom: 40px;
}

#about .experiences_item .highlight {
  margin-bottom: 20px;
}

#about .experiences_item p {
  margin: 0;
}

#about .certifications-container {
  margin-bottom: 60px;
}

#about .certifications-container h3 {
  margin-bottom: 40px;
}

#about .certifications-container a {
  color: #F8F8F8;
}

#about .certifications-container a::after {
  content: "";
  background-color: #4A40FD;
}

#about .skills-container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 30px;
}

#about .skills_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

#about .skills_item p {
  margin: 0;
}

#about .skills_item img {
  max-height: 90px;
}

/* Contact */
#contact .contact_subtitle {
  font-weight: 900;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
}

#contact .contact_subtitle span {
  font-family: "Montserrat", sans-serif;
  color: #4DD6A4;
  margin-left: 5px;
}

#contact .contact_content {
  /*   display: flex;
      justify-content: space-around; */
  margin-top: 60px;
}

#contact .contact_content > div {
  text-align: center;
}

#contact .contact_content a {
  color: #F8F8F8;
}

#contact .contact_content a::after {
  content: "";
  background-color: #4DD6A4;
}

@media screen and (max-width: 992px) {
  #contact .contact_email {
    margin-bottom: 40px;
  }
}

#contact .contact_networks a {
  margin-right: 50px;
  margin-right: 10px;
}

/* Back to top */
#back-to-top {
  position: fixed;
  border: 2px solid #FF6B64;
  border-radius: 60px;
  padding: 7px 11px;
  bottom: 40px;
  right: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
  #back-to-top {
    right: 50px;
  }
}

/* Footer */
#footer {
  background-color: #2D2C2A;
  text-align: center;
  margin-top: 100px;
}

#footer p {
  font-size: 12px;
  margin: 0;
  padding: 40px 0;
  color: #707070;
}

#footer span {
  color: #FF6B64;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=global.css.map */