/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Raleway:wght@600;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #2D2C2A;
  color: #F8F8F8;
}

h1 {
  font-weight: 900;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}

h2 {
  font-weight: 900;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.highlight {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.5px;
}

p {
  font-size: 20px;
}

input,
textarea {
  font-size: 16px;
}

a {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

main a {
  position: relative;
  padding-bottom: 5px;
}

main a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  opacity: 0.3;
}

main a:hover:after {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

section {
  padding: 40px 100px;
}

/* Menu */
#menu {
  background-color: #2D2C2A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  color: #F8F8F8;
  padding: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  z-index: 1000;
  /*   box-shadow: 0px 0px 30px rgba(0,0,0, 0.1); */
}

#menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu nav ul li {
  list-style: none;
  font-weight: 900;
  font-size: 26px;
  margin-left: 50px;
}

#menu nav ul li a {
  color: #F8F8F8;
}

/* Home */
#home .home_container {
  max-width: 50%;
  margin-left: 250px;
}

#home .home_presentation p {
  font-size: 48px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

#home .home_presentation p:nth-child(2) {
  position: relative;
}

#home .home_presentation-detail {
  position: absolute;
  top: -20px;
  left: 0;
}

#home .home_presentation-detail object svg g path {
  stroke: red;
}

#home .home_presentation-dot {
  color: #FF6B64;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
}

#home .home_resume a {
  color: #F8F8F8;
}

#home .home_resume a:after {
  background-color: #FF6B64;
}

#home .home_discover {
  margin-top: 100px;
  text-align: center;
}

#home .home_discover #highlight {
  font-size: 22px;
}

#home .home_discover img {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
          animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
}

/* Works */
.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 490px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
  width: 40%;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.works-card_description {
  padding: 40px;
  background-color: #323231;
}

.works-card_img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.works-card_category img {
  margin-right: 10px;
}

.works-card p {
  margin-top: 0;
}

.works-card a {
  color: #F8F8F8;
}

.works-card a::after {
  content: "";
  background-color: #FFDE07;
}

/* About */
#about h3 {
  margin-top: 60px;
}

#about h3 img {
  margin-right: 10px;
}

#about .experiences-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .experiences_item {
  width: 30%;
  min-width: 300px;
  margin-bottom: 40px;
}

#about .experiences_item .highlight {
  margin-bottom: 20px;
}

#about .experiences_item p {
  margin: 0;
}

#about .skills-container {
  margin-top: 50px;
  /*    display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 30px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 30px 30px;
}

#about .skills_item {
  /*     width: 200px;
            height: 200px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

#about .skills_item p {
  margin: 0;
}

#about .skills_item img {
  max-height: 90px;
}

/* Contact */
#contact {
  /* .contact_form {
        label {
            @include highlight;
        }
        .form-infos {
            display: flex;
            justify-content: space-between;
            margin: 100px 0;

            .form-item {
                width: 45%;
            }
        }

        .form-message {
            margin-bottom: 60px;
        }

        .form-btn {
            text-align: right;

            button {
                @include highlight;
                background-color: $green;
                color: white;
                border: 0;
                padding: 10px 25px;
                cursor: pointer;
            }
        }

        .form-item {
            display: flex;
            flex-direction: column;

            input, textarea {
                background: none;
                border-bottom: 1px solid $grey;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-top: 30px;
                padding: 5px;
                color:$white;
                font-family: 'Montserrat', sans-serif;
                
                &:focus {
                    outline: 2px solid $green;

                }
            }
        }
    } */
}

#contact .contact_subtitle {
  font-weight: 900;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
}

#contact .contact_subtitle span {
  font-family: "Montserrat", sans-serif;
  color: #4DD6A4;
  margin-left: 5px;
}

#contact .contact_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

#contact .contact_content a {
  color: #F8F8F8;
}

#contact .contact_content a::after {
  content: "";
  background-color: #4DD6A4;
}

#contact .contact_networks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Back to top */
#back-to-top {
  position: fixed;
  border: 2px solid #FF6B64;
  border-radius: 60px;
  padding: 7px 11px;
  bottom: 40px;
  right: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Footer */
#footer {
  background-color: #2D2C2A;
  text-align: center;
}

#footer p {
  font-size: 12px;
  margin: 0;
  padding: 40px 0;
  color: #707070;
}

#footer span {
  color: #FF6B64;
}
/*# sourceMappingURL=global.css.map */